opentoutatice-ecm-platform-core/src/main/resources/schemas/webpage/web_configurations_config.xsd

<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/webConfiguration/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nxs="http://www.nuxeo.org/ecm/schemas/webConfiguration/">

	<xs:simpleType name="typeList">
		<xs:list itemType="xs:string" />
	</xs:simpleType>

	<xs:element name="allowedConfsDocs" type="nxs:typeList" />
	<xs:element name="denyAllConfsDocs" type="xs:boolean" />

</xs:schema>