4.8-maintenance/opentoutatice-ecm-platform-core/src/main/resources/schemas/toutatice-event.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/opentoutatice/toutatice-event"
	targetNamespace="http://www.nuxeo.org/ecm/project/schemas/opentoutatice/toutatice-event">

	<xs:element name="allDay" type="xs:boolean" default="false" />

	<xs:element name="dateBegin" type="xs:string" />
	<xs:element name="timeBegin" type="xs:string" default="12:00" />
	<xs:element name="dateTimeBegin" type="xs:dateTime" />

	<xs:element name="dateEnd" type="xs:string" />
	<xs:element name="timeEnd" type="xs:string" default="12:00" />
	<xs:element name="dateTimeEnd" type="xs:dateTime" />

</xs:schema>
